[Unit]
Description=SMS daemon
After=multi-user.target

[Service]
Type=idle
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /opt/sms_daemon/src/sms_daemon.py /dev/ttyAMA0 9600 /opt/sms_daemon/folder /opt/sms_daemon/sms.log

[Install]
WantedBy=multi-user.target
